
body
{
    margin:0;
}
.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
    background-position: center;
    background-image: url('../Images/dbPicture.png');
    filter: blur(8px);
}

/* Navigation Bar */
.navBar
{
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 10;
    box-shadow: 0px 10px 20px 15px rgb(77 77 77 / 20%);
    background-color: rgba(34, 34, 34, 0.98);
    padding: 10px;   
}
.overlay
{
    width: 100%;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    position: relative;
    height: 80px;
}
.buttonContainer3
{
    position: relative;
    display: inline-block;
    width: 176px;
}
.buttonContainer2
{
    position: relative;
    display: inline-block;
    width: 151px;
}
.imageNav
{
    width: 70px;
    display: inline-block;
    position: relative;
    top: 30px;
    height: 50px;
    background-image: url(../Images/dbPicture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dropDownBtn
{
    background-color: #2b2c2c;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    display: inline-block;
}
.dropDown
{
    position: relative;
    top: 12px;
    display: inline-block;
}
.dropDownContent
{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropDownContent a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropDownContent a:hover
{
    background-color: #ddd;
}
.dropDown:hover .dropDownContent
{
    display: block;
}
.dropDown:hover .dropDownBtn
{
    background-color:rgba(35, 120, 131, 0.9);
}
/*****/
.errorTable
{
    width: 210px;
    height: 200px;
    top: 60px;
    z-index: 10;
    left: 0;
    border-radius: 5px;
    position: absolute;
}
.navBarHeader
{
    text-shadow: 1px 2px 6px rgb(0 0 0);
    position: relative;
    display: inline-block;
    width: 140px;
    font-size: 15px;
    left: 0%;
    text-align: center;
    top: 15px;
    color: white;
    transition-duration: 0.1s
}

.errors
{
    text-align: center;
    width: 200px;
    font-size: 12px;
    height: 35px;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    background-color: rgba(90, 83, 83, 0.5);
    transition-duration: 0.3s;
    color: red;
}
.errors:hover
{
    background-color: rgba(10, 10, 10, 0.9);

}
.align
{
    padding-top: 10px;
}

h2
{
    text-shadow: 1px 1px 4px rgb(42, 150, 201 );
    position: relative;
    text-align: center;
    top: 5%;
    color: white;
}
.container
{
    width: 25%;
    left: 5%;
    height: 70.5%;
    box-shadow: -5px 6px 6px #888888;
    position: absolute;
    top: 10%;
    background: rgba(0,0,0,0.3);
}
#container-2
{
    position: absolute;
    top: 10%;
    height: 70.5%;
    left: 37.5%;
}
#container-3
{
    position: absolute;
    top: 10%;
    height: 70.5%;
    left: 70%;
}
.line
{
    width: 50%;
    height: 3px;
    background-color: white;
    left: 25%;
    top: 10%;
    position: relative;
    box-shadow: 1px 1px 4px #2A96C9;
    border-radius: 20px;
}
.line-2
{
    width: 50%;
    height: 3px;
    background-color: white;
    left: 25%;
    top: 10.65%;
    position: relative;
    box-shadow: 1px 1px 4px #2A96C9;
    border-radius: 20px;
}
#line-1{ top: 5%; opacity: 0;}

.input
{
    position: relative;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    width: 85%;
    display: inline-block;
    opacity: 0;
    height: 50px;
    box-sizing: border-box;
    left: 7%;
    top: 10%;
    box-shadow: -2px 2px 4px #1d1f20;
    border: none;
    transition-duration: 0.4s
}
.input:hover
{
    border: 1px solid orange;
}
.table
{
    position: absolute;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    width: 20%;
    display: inline-block;
    opacity: 0;
    height: 5%;
    box-sizing: border-box;
    left: 40%;
    top: 91%;
    box-shadow: -2px 2px 4px #1d1f20;
    border: none;
    transition-duration: 0.4s
}
.table:hover
{
    border: 1px solid orange;
}
.button
{
    position: relative;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    width: 85%;
    display: inline-block;
    opacity: 0;
    height: 50px;
    box-sizing: border-box;
    left: 7%;
    box-shadow: -2px 2px 4px #1d1f20;
    border: none;
    transition-duration: 0.4s
}
.button:hover
{
    border: 1px solid orange;
}
.buttonText
{
    text-shadow: 1px 1px 4px rgb(42, 150, 201 );
    position: relative;
    text-align: center;
    color: white;
    font-size: 13px;
}
::placeholder
{
    text-shadow: 1px 1px 4px rgb(42, 150, 201 );
    position: relative;
    text-align: center;
    color: white;
}
#container-1, #container-2, #container-3
{
    opacity: 0;
}
.h2-hidden
{
    opacity: 0;
}
@keyframes fades-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.fade-in
{
    opacity: 0;
    animation: fades-in 1s ease-in forwards;
}
@keyframes fades-out
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}
.fade-out
{
    opacity: 1;
    animation: fades-out 1s ease-out forwards;
}
.selfBackground
{
    background-image: url('../Images/dbPicture.png');
    background-size: cover;
    background-color: grey;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.textarea
{
    width: 70%;
    height: 70%;
    border-radius: 5px;
    background:rgba(65, 61, 52, 0.6);
    position: absolute;
    left: 50%;
    top: 57%;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    resize: none;
    color: white;
    text-align: left;
    padding: 15px;
    transform: translate(-50%, -60%);
}
.enter
{
    position: fixed;
    top: 90%;
    left: 50%;
    width: 160px;
    border-radius: 10px;
    height: 45px;
    transform: translate(-50%, -10%);
    text-align: center;
    border: none;
    box-shadow: 1px 2px 6px #888888;
    cursor: pointer;
    background-color: orange;
    color: white;
}
.closeButton
{
    position: fixed;
    top: 11%;
    right: 15%;
    width: 30px;
    border-radius: 5px;
    font-size: 25px;
    height: 30px;
    text-align: center;
    border: none;
    box-shadow: 1px 2px 6px #888888;
    cursor: pointer;
    background-color: rgba(255, 165, 21, 1);
    color: white;
} 
.buttonContainer
{
    width: 70%;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4%;
    border: 5px 5px 0 0;
    position: absolute;
    background: rgba(90, 87, 81, 0.3);
}
.top
{
    z-index: -1;
    opacity: 0;
}   
.bottom
{
    z-index: 5;
    opacity: 1;
}
.custom
{
    position: fixed;
    top: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    border: none;
    box-shadow: 1px 2px 6px #888888;
    cursor: pointer;
    background-color: rgb(45, 197, 218);
}
.api
{
    width: 200px;
    height: 30px;
    background-image: url('../Images/apis.jpeg');
    background-position: left;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    border: 2px solid rgb(51, 51, 51);
    border-left: none;
    color: white;
    border-radius: 5px; 
    bottom: 4%;
    transition-duration: 2s;
}
.api:hover
{
    background-image: url('../Images/apis.jpeg');
    background-position: center;
}
.s2s
{
    right: 75px;
    background-image: url(../Images/s2s.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    border: none;
    box-shadow: 1px 2px 6px #888888;
    cursor: pointer;
    background-color: rgb(45, 197, 218);
}
.info-report
{
    width: 100%;
    background-color: orange;
    position: absolute;
    bottom: 0;
}
.rowHeader
{
    width: 100%;
    background-color: #ceac6d;
    height: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-style: inset;
    border-width: 1px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.rowHeader:hover
{
    color: black;
}
.row-item
{
    width: 100%;
}